.wrapper {
  background-color: var(--wrapper-bg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--background-color);
  border-radius: 16px;
  width: 320px;
  position: relative;
}

.btn-float {
  position: absolute;
  top: -80px;
  right: -80px;
  background-color: var(--background-color);
  animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
  100%,
  0% {
    top: -80px;
  }
  50% {
    top: -72px;
  }
}
