.btn {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  color: var(--text-color);
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  border-style: solid;
  font-size: 28px;
}

.btn.primary {
  background-color: var(--primary);
}
.btn.secondary {
  background-color: var(--secondary);
}

.btn.extend {
  width: 136px;
  border-radius: 32px;
}
