.btn {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  color: var(--text-color);
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  border-style: solid;
  font-size: 28px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn.primary {
  background-color: var(--primary);
}
.btn.secondary {
  background-color: var(--secondary);
}

.btn.extend {
  width: 136px;
  border-radius: 32px;
}

.btn.highlight {
  opacity: 0.7;
}

.btn.blocked {
  cursor: not-allowed;
  opacity: 0.4;
}
.btn.blocked:hover {
  opacity: 0.4;
}
